*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
#header{
    background-image: url(images/donation6.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.banner{
    text-align: center;
    margin-bottom: 10px;
    width: 100%;   
}
.donate-now {
    color: white;
    text-decoration: none;
    border: 2px solid red;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(red, tomato);
}

.banner h1 {
    color: white;
    margin-bottom: 7px;
}
.banner p {
    margin-bottom: 30px;
    color: white;
    font-size: 85%;
}
.donation-top{
    text-align: center;
}
.donation-top h1 {
    margin-bottom: 20px;
}
.donation-top p{
    color: gray;
    font-size: 85%;
    margin-bottom: 15px;
}
.amount{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    
}

.amount h3{
    padding: 50px 10px;
    text-decoration: none;
    color: gray;
    background-color: gainsboro;
    border-radius: 5px;
    margin-right: 15px;
    box-shadow: 5px 5px 5px rgb(148, 145, 145);
}

#selection{
    color: tomato;
    border: 1px solid #ffaaaa;
    background-color: #FFAAAA;
}

.other{
    text-align: center;
    margin-bottom: 5%;
}

.user-defined{
    text-align: center;
    padding: 5px 22%;
    margin: 10px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid gainsboro;
}
.donate-plan h1{
    text-align: center;
    margin-bottom: 20px;
}

.donate-plan p{
    text-align: center;
    color: gray;
    font-size: 85%;
    margin-bottom: 15px;
}
.plan{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.block-one img {
    width: 8%;
}
.block-one{
    background-color: antiquewhite;
    padding: 20px 10px;
    width: 20%;
    margin-right: 20px;
    border-radius: 10px;
}
.block-one h3 {
    margin-bottom: 5px;
}
.block-one p{
    text-align: justify;
}
.block-two img {
    width: 8%;
}
.block-two{
    background-color: pink;
    padding: 20px 10px;
    width: 20%;
    margin-right: 20px;
    border-radius: 10px;
}
.block-two h3 {
    margin-bottom: 5px;
}
.block-two p{
    text-align: justify;
}
.block-three img {
    width: 8%;
}
.block-three{
    background-color: mintcream;
    padding: 20px 10px;
    width: 20%;
    margin-right: 20px;
    border-radius: 10px;
}
.block-three h3 {
    margin-bottom: 5px;
}
.block-three p{
    text-align: justify;
}

footer{
    background-color: black;
}
footer h2{
    color: maroon;
    text-align: center;
    padding: 30px;
    font-family: 'Pacifico', cursive;
}
footer p{
    color: white;
    text-align: center;
    font-size: 50%;
}